<footer id="footer">
  <div class="footer-newsletter">

  </div>
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Home</h4>
          <ul>

            <li>
              <i class="bi bi-box-arrow-in-right"></i>  <a href="#">Log IN</a>
            </li>
            <li>
              <i class="bi bi-info"></i><a href="#">Register</a>
            </li>

          </ul>
        </div>
        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Our Product</h4>
          <ul>
            <li>
              <i class="bi bi-file-person-fill"></i><button class="btn text-light"  (click)="click($event)" value="men's clothing" >men's clothing</button>
            </li>
            <li>
              <i class="bi bi-bag-heart"></i>
              <button class="btn text-light"  (click)="click($event)" value="women's clothing">women's clothing</button>
            </li>
            <li>
              <i class="bi bi-laptop"></i>
              <button class="btn text-light" value="electronics">electronics</button>
            </li>
            <li>
              <i class="bi bi-phone"></i> <button class="btn text-light" value="jewelery" (click)="click($event)">jewelery</button>
            </li>

          </ul>
        </div>
        <div class="col-lg-3 col-md-6 footer-contact">
          <h4>Contact Us</h4>
          <p>
            ITI Mansoura <br />
            Mansoura, NY 535022<br />
            Egypt <br /><br />
            <span class="p-1"><i class="bi bi-telephone"></i> </span><strong>Phone:</strong> 01025899331<br />
            <span class="p-1"> <i class="bi bi-envelope"></i></span><strong>Email:</strong> aminahmed56344@gmail.com<br />
          </p>
        </div>
        <div class="col-lg-3 col-md-6 footer-info">
          <h3>About ZokaStore</h3>
          <p>
            Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada
            terra videa magna derita valies darta donna mare fermentum iaculis
            eu non diam phasellus.
          </p>

        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 ">

          <div class="    input-group mb-1 mt-4">

            <input type="text" class="form-control" placeholder="Massage Us" aria-label="Massage Us" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i class="bi bi-send"></i></button>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="social-links mt-3  d-flex">
            <a href="#" class="twitter m-auto"><i class="bi bi-twitter fa-3x"></i></a>
            <a href="#" class="facebook  m-auto"><i class="bi bi-facebook fa-3x"></i></a>
            <a href="#" class="instagram  m-auto"><i class="bi bi-instagram fa-3x"></i></a>
            <a href="#" class="youtube   m-auto "><i class="bi bi-youtube fa-3x"></i></a>
          </div>
        </div>
      </div>
    </div>

  </div>
</footer>
